.navBar a{
    float: right;
    color: #5FD1D4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
    font-size: 17px;
    
    
}

.navBar{
    padding-top: 10px;
}

.navBar h1{
    display: inline;
    border: 2px solid;
    padding: 8px;
    border-color: #5FD1D4;
    border-radius: 10px;
}


.navBar a:hover{
    color: black;
    text-decoration: none;
}

.image{
    position: relative;
    top: 20px;
}

h1{
    font-family: Great Vibes;
    position: relative;
    top: 10px;
}

h2{
    color: #5FD1D4;
    font-family: 'Times New Roman';
}

.bio{
    position: relative;
    top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    box-shadow: -5px -16px 19px -20px black;
    padding-bottom: 50px;
  }

  .content {
    position: relative;
    left: 50px;
    top: 100px;
  }

  .bio img{
    border-radius: 100%;
    position: relative;
    top: 120px;
    left: 35%;
  }

.bio p{
    width: 600px;
}

.icons{
    padding-top: 5px;
    color: black;
    position: relative;
    right: 80px;
    top: 65px;
    text-align: center;
}

footer{
    box-shadow: 5px 10px -10px 5px black;
    height: 200px;
    background-color: #5FD1D4;
    border-radius: 10px;
    position: relative;
    top: 150px;
}

iframe{
    position: relative;
    bottom: 110px;
    float: right;
}

.adress{
    color: #ffffff;
    position: relative;
    left: 50px;
    bottom: 30px;
    font-family: 'Times New Roman';
    font-size: medium;
    
}


