
/* Start of Typography*/
h1,
h4 {
  position: relative;
  left: 30px;
}

h3 {
  font-size: larger;
  position: relative;
  left: 10px;
}

h4 {
  color: #ffffff;
  font-size: larger;
}

b {
  text-shadow: 5px 10px 10px black;
}

#i {
  font-style: italic;
  color: whitesmoke;
}
/* End of Typography*/

/* Start of styling for name and email text field*/
.text-field {
  display: flex;
  justify-content: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  position: relative;
  top: 60px;
  bottom: 80px;
}
/* End of styling for name and email text field*/

/* Start of styling for subject and message text field*/
.text-field-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  position: relative;
  top: 60px;
}
/* End of styling for subject and message  text field*/

/* Start of styling for form*/
form {
  box-shadow: -5px -16px 19px -20px black;
  position: relative;
  top: 50px;
}

/* Start of styling for input fields*/
#name,
#email {
  width: 300px;
  height: 30px;
}


#subject,
#message {
  width: 630px;
}

#subject {
  height: 30px;
}

/* End of styling for input fields*/



/* Start of styling for contact button*/
button {
  position: relative;
  top: 100px;
  left: 38%;
  width: 300px;
  height: 30px;
  background-color: #5FD1D4;
  color: #ffffff;
  border-color: #5FD1D4;
  border-radius: 30px;
}
/* End  of styling for contact button*/

/* Start of styling for contact container*/
.container {
  display: flex;
}
.contactTypo1 {
  position: relative;
  top: 10px;
}

.contactTypo3{
  position: relative;
  top: 20px;
  left: 55px;
  width: 100px;
  font-weight: lighter;
}

.sec {
  width: 450px;
  height: 150px;
  box-shadow: -5px -16px 19px -20px black;

}

.sec:hover {
  background-color: #5FD1D4;
  color: #ffffff;
}

.contactIcon {
  display: flex;
  flex-direction: column;
  float: left;
  position: relative;
  left: 20px;
  top: 10px;
}

/* End of styling for contact container*/

/* Start of styling for about section*/
.about {
  border: 5px solid white;
  border-width: 2px;
  padding: 10px;
  border-style: hidden;
  background-color: #5FD1D4;
  border-radius: 20px;
  box-shadow: 10px 10px black;
}
/* End of styling for about section*/

/* Start of styling for experience section*/
.experience {
  border: 5px solid white;
  border-width: 2px;
  padding: 10px;
  border-style: hidden;
  background-color: #5FD1D4;
  border-radius: 20px;
  box-shadow: 10px 10px black;

}
/* End of styling for experience section*/

/* Start of styling for skills section*/
.skills {
  border: 5px solid white;
  border-width: 2px;
  padding: 10px;
  border-style: hidden;
  background-color: #5FD1D4;
  border-radius: 20px;
  box-shadow: 10px 10px black;
}
/* End of styling for skills section*/

/* Start of styling for education section*/
.education {
  border: 5px solid white;
  border-width: 2px;
  padding: 10px;
  border-style: hidden;
  background-color: #5FD1D4;
  border-radius: 20px;
  box-shadow: 10px 10px black;

}
/* End of styling for education section*/

/* Start of styling for about section and h4*/
.center {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}
/* End of styling for about section and h4*/

/* Start of styling for projects containers */

.head {
  text-align: center;
  font-size: 25px;
  text-decoration: underline;
}

.border-port {
  border-width: 50px;
  background-color: white;
  color: black;
  width: 300px;
  height: 450px;
  margin-left: 20px;
  border-radius: 30px;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.projectTypo {
  color: #5FD1D4;
}
/* End of styling for projects containers*/

/* Start for styling for Button to view projects*/
.view {
  height: 20px;
  border-color: #5FD1D4;
  border-radius: 5px;
  background-color: #5FD1D4;
  margin-left: 100px;
  color: #ffffff;
}
/* End of styling for button to view  projects*/

/* Start for styling for footer*/
footer {
  box-shadow: 5px 10px -10px 5px black;
  height: 200px;
  background-color: #5FD1D4;
  border-radius: 10px;
  position: relative;
  top: 150px;
}

.icons {
  padding-top: 5px;
  color: black;
  position: relative;
  right: 80px;
  top: 65px;
  text-align: center;
}

iframe {
  position: relative;
  bottom: 110px;
  float: right;
}

.adress {
  color: #ffffff;
  position: relative;
  left: 50px;
  bottom: 30px;
  font-family: 'Times New Roman';
  font-size: medium;

}
/* End for styling for footer*/


/* start of Responsive for mobile phones*/
@media screen and (max-width:767px) {
  .img-j {
    width: 350px;
    height: 330px;
  }



  .img-c {
    width: 380px;
    height: 330px;
  }

  .row {
    display: block;
    position: relative;
    left: 38px;
  }

  h1 {
    font-size: 30px;
  }

  .border-port {
    margin-top: 20px;
  }

  .p1 {
    float: right;
    margin-right: 10px;
    margin-top: 40px;

  }

  .img-1 {
    position: relative;
    left: 100px;
  }


  .text-field {
    display: flex;
    justify-content: center;
    grid-column-gap: 7px;
    position: relative;
    left: 5px;
    top: 100px;
    bottom: 80px;
  }

  .text-field-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    position: relative;
    left: 7.5px;
    top: 100px;
  }

  button {
    left: 15%;
  }

  #name,
  #email {
    width: 180px;
  }


  #subject,
  #message {
    width: 370px;
  }

  .container {
    display: block;
  }

  .sec {
    width: 450px;
    height: 150px;
    box-shadow: none;
  }

  .contactTypo1 {
    top: 20px;
    left: 50px;
  }

  .contactTypo3{
    position: relative;
    top: 40px;
    left: 100px;
  }

  iframe {
    position: relative;
    bottom: 330px;
    right: 30px;
    border-radius: 10px;
  }

  footer {
    position: relative;
    top: 370px;
    height: 200px;
  }

 

  .adress {
    color: #ffffff;
    position: relative;
    bottom: 12vh;
    left: 20px;
    width: 60px;
    font-size: small;
  }

  .icons {
    padding-top: 5px;
    position: relative;
    left: 50px;
    top: 80px;
    text-align: center;
  }
  
}
/* End for responsive for mobile phone*/